body {
  background: linear-gradient(
    to right,
    #1e3c72,
    #2a5298
  );
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}